In [6]:
import pandas as pd
import numpy as np
import requests
import io
from zipfile import ZipFile

In [ ]:
##### Extract all file urls from the source page into 3 categories

In [42]:
root = 'https://www1.ncdc.noaa.gov/pub/data/swdi/stormevents/csvfiles/'
response = requests.get(root)

In [56]:
from html.parser import HTMLParser

In [59]:
parser = HTMLParser()
parser.feed(data = response.text)

In [62]:
parser.handle_starttag('a', ['href'])

In [ ]:
parser.

In [63]:
#response.content

In [ ]:
##### Iteratively read files of all three categories

In [ ]:
#### Join corresponding files for each period

In [19]:

file1 = 'StormEvents_details-ftp_v1.0_d1950_c20170120.csv.gz'

In [31]:
root+file1

'https://www1.ncdc.noaa.gov/pub/data/swdi/stormevents/csvfiles/StormEvents_details-ftp_v1.0_d1950_c20170120.csv.gz'

In [33]:
response = requests.get(root+file1)

In [35]:
dt = pd.read_csv(root+file1)

In [37]:
dt.head()

,BEGIN_YEARMONTH,BEGIN_DAY,BEGIN_TIME,END_YEARMONTH,END_DAY,END_TIME,EPISODE_ID,EVENT_ID,STATE,STATE_FIPS,...,END_RANGE,END_AZIMUTH,END_LOCATION,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EPISODE_NARRATIVE,EVENT_NARRATIVE,DATA_SOURCE
0,195004,28,1445,195004,28,1445,NaN,10096222,OKLAHOMA,40,...,0,NaN,NaN,35.12,-99.20,35.17,-99.20,NaN,NaN,PUB
1,195004,29,1530,195004,29,1530,NaN,10120412,TEXAS,48,...,0,NaN,NaN,31.90,-98.60,31.73,-98.60,NaN,NaN,PUB
2,195007,5,1800,195007,5,1800,NaN,10104927,PENNSYLVANIA,42,...,0,NaN,NaN,40.58,-75.70,40.65,-75.47,NaN,NaN,PUB
3,195007,5,1830,195007,5,1830,NaN,10104928,PENNSYLVANIA,42,...,0,NaN,NaN,40.60,-76.75,NaN,NaN,NaN,NaN,PUB
4,195007,24,1440,195007,24,1440,NaN,10104929,PENNSYLVANIA,42,...,0,NaN,NaN,41.63,-79.68,NaN,NaN,NaN,NaN,PUB