# Summary 
### 1. Built-in Data Structures : Tuples, Lists, Dictionaries, Set, Iterators, Generator and methods
### 2. Working with Data Structures : 
- Tuples : immutable position wise  , unpacking
- Lists : methods to add/delete/sort/slice  
- Sets : unique elements, methods to do union, intersection, test subset, superset etc
- Dictionaries: consist of two tuples, add/delete methods, default key, valid key types/hashability test, unpacking
- comprehensions (simple and nested)  
- Iterators and Generators: yield keyword, materializing an iterator

###  3. Libraries : bisect, itertools  
- bisect : maintain a sorted list, insert to a sorted list   
- itertools : groupby, combination, permutation, cartesian product on an iterable to produce common sequences 

###  4. Sequence generation : enumerate, zip  

### 5. Functions : Use as objects, lambda functions  , map function, multiple returns using tuple/dic unpacking, global/local vars
### 6. Generator Expressions  like list comprehensions  
### 7. Error Handling : try,except, else, finally
### 8. File handling :  
- Opening using with as construct, 
- Closing  
- modes ( r,w,r+ i.e rw, x , t, b)
- read/write in characters or using lines - readlines/writelines  

### 9. Bytes and Unicode   
- Read more;  used when file types contain content which might not be unicde

## Data Structures and Sequences

### Tuple - basic data structure, no declaration required, much like a list, but non mutable

In [1]:
tup = 4, 5, 6
tup

(4, 5, 6)

In [12]:
#dir(tup)

In [2]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

In [4]:
tuple([4, 0, 2])
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [5]:
tup[0]

's'

# The position of elements in a tuple cannot be modified, If tuples have composite members, like a list, the elements of the list can be accessed and changed however

In [8]:
tup = tuple(['foo', [1, 2], True])
#tup[2] = False
tup

('foo', [1, 2], True)

In [13]:
type(tup)

tuple

In [9]:
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

In [16]:
tup[1][0] = 4
tup

('foo', [4, 2, 3], True)

In [18]:
#tup[0] = 'test'

In [14]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [ ]:
('foo', 'bar') * 4

#### Unpacking tuples

In [19]:
tup = (4, 5, 6)
a, b, c = tup
b

5

In [20]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
d

7

In [21]:
tmp = a  
a = b  
b = tmp
print(a,b, tmp)

5 4 4

In [22]:
a, b = 1, 2
print(a)
print(b)
b, a = a, b
print(a)
print(b)

1
2
2
1

In [25]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    #print(a,b,c)
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

## Tuple unpacking can be used to ignore some elements

In [31]:
values = 1, 2, 3, 4, 5
print(values)
a, b, *rest = values
a, b
rest # tuple unpacking rsults in last element being a list1

(1, 2, 3, 4, 5)

[3, 4, 5]

In [32]:
a, b, *_ = values

In [33]:
print(a)
print(b)
print(_)

1
2
[3, 4, 5]

#### Tuple methods

In [34]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

### List

In [35]:
a_list = [2, 3, 7, None]
tup = ('foo', 'bar', 'baz')
b_list = list(tup)
print(b_list)
b_list[1] = 'peekaboo'
b_list

['foo', 'bar', 'baz']

['foo', 'peekaboo', 'baz']

In [1]:
gen = range(10) # range is alos a generator/iterator expression, use of list can ,aterialize it
print(gen)
list(gen)

range(0, 10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### Adding and removing elements

In [37]:
b_list.append('dwarf')
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [38]:
b_list.insert(1, 'red')
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [39]:
b_list.pop(2)
b_list

['foo', 'red', 'baz', 'dwarf']

In [40]:
b_list.append('foo')
print(b_list)
b_list.remove('foo') # removal cares for only first encountered match
b_list

['foo', 'red', 'baz', 'dwarf', 'foo']

['red', 'baz', 'dwarf', 'foo']

In [41]:
'dwarf' in b_list

True

In [42]:
'dwarf' not in b_list

False

#### Concatenating and combining lists

In [43]:
[4, None, 'foo'] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [44]:
x = [4, None, 'foo']
x.extend([7, 8, (2, 3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

In [ ]:
everything = []
for chunk in list_of_lists:
    everything.extend(chunk)

In [ ]:
everything = []
for chunk in list_of_lists:
    everything = everything + chunk

#### Sorting

In [45]:
a = [7, 2, 5, 1, 3]
a.sort()
a

[1, 2, 3, 5, 7]

### Sorting using key argument, which can be given an arbitrary function

In [46]:
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

#### Binary search and maintaining a sorted list

### bisect does not check if the list is sorted, one needs to sort a list beforehand

In [2]:
import bisect
c = [1, 2, 2, 2, 3, 4, 7]
print(bisect.bisect(c, 2))
print(bisect.bisect(c, 5))
bisect.insort(c, 6)
c

4
6

[1, 2, 2, 2, 3, 4, 6, 7]

In [7]:
#help(bisect)

#### Slicing

In [8]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

[2, 3, 7, 5]

In [9]:
seq[3:4] = [6, 3]
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [10]:
seq[:5]
seq[3:]

[6, 3, 5, 6, 0, 1]

In [ ]:
seq[-4:]
seq[-6:-2]

In [ ]:
seq[::2]

In [ ]:
seq[::-1]

### Built-in Sequence Functions

#### enumerate

i = 0
for value in collection:
   # do something with value
   i += 1

for i, value in enumerate(collection):
   # do something with value

In [53]:
some_list = ['foo', 'bar', 'baz']
mapping = {}
for i, v in enumerate(some_list):
    mapping[v] = i
mapping

{'bar': 1, 'baz': 2, 'foo': 0}

#### sorted

In [54]:
sorted([7, 1, 2, 6, 0, 3, 2])
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

#### zip - elements are combined in tuples

In [55]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
zipped = zip(seq1, seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [56]:
seq3 = [False, True]
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [57]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1}, {2}'.format(i, a, b))

0: foo, one
1: bar, two
2: baz, three

In [61]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'),
            ('Schilling', 'Curt')]
first_names, last_names = zip(*pitchers)
print(first_names)
print(last_names)

('Nolan', 'Roger', 'Schilling')
('Ryan', 'Clemens', 'Curt')

#### reversed -  it is a generator

In [2]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

### dict

In [3]:
empty_dict = {}
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [4]:
d1[7] = 'an integer'
print(d1)
d1['b']

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

[1, 2, 3, 4]

In [5]:
'b' in d1

True

In [6]:
d1[5] = 'some value'
d1
d1['dummy'] = 'another value'
d1
del d1[5]
d1
ret = d1.pop('dummy')
ret
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [9]:
print(list(d1.keys()))
list(d1.values())

['a', 'b', 7, 'c']

['some value', 'foo', 'an integer', 12]

In [8]:
d1.update({'b' : 'foo', 'c' : 12})
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

#### Creating dicts from sequences

In [ ]:
mapping = {}
for key, value in zip(key_list, value_list):
    mapping[key] = value

In [10]:
mapping = dict(zip(range(5), reversed(range(5))))
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

## Default values

In [ ]:
if key in some_dict:
    value = some_dict[key]
else:
    value = default_value

### Methods get and pop have an argument to specify a default value  
###  get return None as default, pop throw an error

In [ ]:
value = some_dict.get(key, default_value)

In [15]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

### Use of set default in iteratively appending to the values in a dictionary avoiding an error

In [32]:
by_letter = {}
for word in words:  
    letter = word[0]  
    by_letter.setdefault(letter, []).append(word)  
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [35]:
%xdel by_letter

### Use of default dictionary to ensure if dictionary is queried for a non existent key, a default is returned instead  
### of an error

In [40]:
from collections import defaultdict  
by_letter = defaultdict(list)  
for word in words:  
    by_letter[word[0]].append(word) # by defaultdict

In [41]:
print(by_letter['d'])
by_letter

[]

defaultdict(list,
            {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book'], 'd': []})

## Valid dict key types
### The keys should be immutable objects, or should be hashable

In [14]:
'''Return the hash value for the given object.

Two objects that compare equal must also have the same hash value, but the
reverse is not necessarily true.
'''
hash('string')

4740957835486022813

In [18]:
hash((1, 2, (2, 3)))
#hash((1, 2, [2, 3])) # fails because lists are mutable

1097636502276347782

In [43]:
hash([1,2,3]) # list cannot be used as a key

TypeError: unhashable type: 'list'

In [46]:
d = {}
d[tuple([1, 2, 3])] = 5
d

{(1, 2, 3): 5}

### set

In [21]:
# Build an unordered collection of unique elements.

In [22]:
set([2, 2, 2, 1, 3, 3]) # or 
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

In [47]:
a = {1, 2, 3, 4, 5,5,6}
b = {3, 4, 5, 6, 7, 8}

In [28]:
a.union(b)
#a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [29]:
a.intersection(b) # or
a & b

{3, 4, 5, 6}

### There are alternate functions to do in place replacements after performing union/intersection/substraction/addition b/w sets

In [49]:
c = a.copy()
c |= b
print(c)
d = a.copy()
d &= b
print(d)
a.intersection_update(b)
print(a)

{3, 4, 5, 6, 7, 8}
{3, 4, 5, 6}
{3, 4, 5, 6}

In [31]:
my_data = [1, 2, 3, 4]
my_set = {tuple(my_data)}
my_set

{(1, 2, 3, 4)}

In [32]:
a_set = {1, 2, 3, 4, 5}
{1, 2, 3}.issubset(a_set)
a_set.issuperset({1, 2, 3})

True

In [33]:
{1, 2, 3} == {3, 2, 1}

True

### List, Set, and Dict Comprehensions

[

result = []  
for val in collection:  
    if

In [34]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

dict_comp = {

set_comp = {

In [35]:
unique_lengths = {len(x) for x in strings}
unique_lengths

{1, 2, 3, 4, 6}

In [36]:
set(map(len, strings))

{1, 2, 3, 4, 6}

In [39]:
loc_mapping = {val : index for index, val in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

#### Nested list comprehensions

In [41]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],
            ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

names_of_interest = []  
for names in all_data:  
    enough_es = [name for name in names if name.count('e') >= 2]   
    names_of_interest.extend(enough_es)

In [42]:
result = [name for names in all_data for name in names
          if name.count('e') >= 2]
result

['Steven']

In [44]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

flattened = []  

for tup in some_tuples:  
    for x in tup:  
        flattened.append(x)

In [45]:
[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

## Functions

def my_function(x, y, z=1.5):  
    if z > 1:  
        return z * (x + y)  
    else:  
        return z / (x + y)

my_function(5, 6, z=0.7)  
my_function(3.14, 7, 3.5)  
my_function(10, 20)

### Namespaces, Scope, and Local Functions

In [50]:
def func():  
    a = []  
    for i in range(5):  
        a.append(i)  
a

{3, 4, 5, 6}

In [57]:
a = []  
def func():  
    for i in range(5):  
        a.append(i) 
a

[]

In [58]:
a = None
def bind_a_variable():
    global a
    a = []
bind_a_variable()
print(a)

[]

### Returning Multiple Values -  Tuple or dictionary unpacking in returning values

In [59]:
def f():
    a = 5
    b = 6
    c = 7
    return a, b, c # return as a tuple

a, b, c = f() # unpack a tuple

return_value = f()

In [62]:
def f():
    a = 5
    b = 6
    c = 7
    return {'a' : a, 'b' : b, 'c' : c} # return as a dictionary

In [64]:
a,b,c = f()
x = f()
print (a,b,c)
x

a b c

{'a': 5, 'b': 6, 'c': 7}

# Functions Are Objects

In [20]:
states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina##', 'West virginia?']

In [18]:
import re # regular expressions library
def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]', '', value)
        value = value.title()
        result.append(value)
    return result

In [22]:
#import re
#help(re)

In [23]:
#clean_strings(states)

### Idea of making a list of functions ans applying them sequentially on a sequence of items

In [25]:
def remove_punctuation(value):
    return re.sub('[!#?]', '', value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
    return result

In [26]:
clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [27]:
for x in map(remove_punctuation, states):
    print(x)

   Alabama
Georgia
Georgia
georgia
FlOrIda
south   carolina
West virginia

### Anonymous (Lambda) Functions

In [56]:
def short_function(x):
    return x * 2

equiv_anon = lambda x: x * 2

In [57]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x * 2)

[8, 0, 2, 10, 12]

In [28]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']

In [29]:
strings.sort(key=lambda x: len(set(list(x))))
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

### Currying: Partial Argument Application

In [32]:
def add_numbers(x, y):
    return x + y

In [33]:
add_five = lambda y: add_numbers(5, y)

In [35]:
from functools import partial
add_five = partial(add_numbers, 5)

In [37]:
add_five(3)

8

### Generators
#### Iterator is an object in python that yields objects to the python interpreter when required. Function that accept lists or tuples 
#### as arguments also accept iterators
#### A conventient, function like way of generating iterator is called generator, keyword used is 'yield'

In [66]:
some_dict = {'a': 1, 'b': 2, 'c': 3}
for key in some_dict:
    print(key)

a
b
c

In [68]:
dict_iterator = iter(some_dict)
dict_iterator # objects are not generated until required

In [41]:
list(dict_iterator)

['a', 'b', 'c']

In [69]:
def squares(n=10):
    print('Generating squares from 1 to {0}'.format(n ** 2))
    for i in range(1, n + 1):
        yield i ** 2

In [70]:
gen = squares()
list(gen)

Generating squares from 1 to 100

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Iterators cannot be indexed, as they are called they are relased, the below will not produce any output  
## Generators are used when a massive amount of data is to be explored and you do not want ## to save it

In [61]:
for x in gen:
    print(x, end=' ')

# Generator expresssions - like list comprehensions

In [71]:
gen = (x ** 2 for x in range(100)) # range is an iterator
gen

In [72]:
def _make_gen():
    for x in range(100):
        yield x ** 2
gen = _make_gen()

In [73]:
sum(x ** 2 for x in range(100))
dict((i, i **2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

### itertools module - Implements generators for generating common sequences for use in data analysis  
#### groupby, combination, permutation, product(cartesian product)

In [ ]:
#??itertools.groupby()

In [1]:
import itertools
first_letter = lambda x: x[0]
names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']
for letter, names in itertools.groupby(names, first_letter): # takes second argument as a function to generate key for grouping
    print(letter, list(names)) # names is a generator

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

In [91]:
names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']
lth = lambda x: len(x)
gen = itertools.groupby(names, lth)
#print(gen)
for el1, el2 in gen:
    print(el1, list(el2))

4 ['Alan', 'Adam']
3 ['Wes']
4 ['Will']
6 ['Albert', 'Steven']

In [94]:
names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']
for comb in itertools.combinations(names,2):
    print(list(comb))

['Alan', 'Adam']
['Alan', 'Wes']
['Alan', 'Will']
['Alan', 'Albert']
['Alan', 'Steven']
['Adam', 'Wes']
['Adam', 'Will']
['Adam', 'Albert']
['Adam', 'Steven']
['Wes', 'Will']
['Wes', 'Albert']
['Wes', 'Steven']
['Will', 'Albert']
['Will', 'Steven']
['Albert', 'Steven']

In [4]:
names = ['Alan', 'Adam', 'Wes']
for comb in itertools.product(names, repeat = 2):
    print(list(comb))

['Alan', 'Alan']
['Alan', 'Adam']
['Alan', 'Wes']
['Adam', 'Alan']
['Adam', 'Adam']
['Adam', 'Wes']
['Wes', 'Alan']
['Wes', 'Adam']
['Wes', 'Wes']

### Errors and Exception Handling  -  try, except, else, finally

In [92]:
float('1.2345')
float('something')

ValueError: could not convert string to float: 'something'

In [7]:
def attempt_float(x):
    try:
        return float(x)
    except:  # suppresses any error that occurs
        return x

In [8]:
attempt_float('1.2345')
attempt_float('something')

'something'

In [95]:
float((1, 2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [10]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:  # Address only Value Errors, and let other type of errors throw an exception
        return x

In [97]:
attempt_float((1, 2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [11]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError): # can suppress a collection of error types
        return x

In [12]:
attempt_float((1, 2))

(1, 2)

In [13]:
f = open(path, 'w')

try:
    write_to_file(f)
finally:   # finally is executed irrespective of whether try block in success or not
    f.close()

NameError: name 'path' is not defined

In [103]:
f = open(path, 'w')

try:
    write_to_file(f)
except:
    print('Failed')
else:               # else enable a block to be executed only if try is successful
    print('Succeeded')
finally:
    f.close()

NameError: name 'path' is not defined

#### Exceptions in IPython -  traceback is provided for code block in %run

In [ ]:
In [10]: %run examples/ipython_bug.py
---------------------------------------------------------------------------
AssertionError                            Traceback (most recent call last)
/home/wesm/code/pydata-book/examples/ipython_bug.py in <module>()
     13     throws_an_exception()
     14
---> 15 calling_things()

/home/wesm/code/pydata-book/examples/ipython_bug.py in calling_things()
     11 def calling_things():
     12     works_fine()
---> 13     throws_an_exception()
     14
     15 calling_things()

/home/wesm/code/pydata-book/examples/ipython_bug.py in throws_an_exception()
      7     a = 5
      8     b = 6
----> 9     assert(a + b == 10)
     10
     11 def calling_things():

AssertionError:

## Files and the Operating System

In [104]:
%pushd book-materials

[WinError 2] The system cannot find the file specified: 'book-materials'
C:\Users\sumad.singh\Documents\DS\Python\Python for DA

['~\\Documents\\DS\\Python\\Python for DA']

In [105]:
path = 'examples/segismundo.txt'
f = open(path)

FileNotFoundError: [Errno 2] No such file or directory: 'examples/segismundo.txt'

In [106]:
for line in f:
    pass

NameError: name 'f' is not defined

In [14]:
lines = [x.rstrip() for x in open(path)] # usually EOL characters need to be removed
lines

NameError: name 'path' is not defined

In [ ]:
f.close()

In [107]:
with open(path) as f:
    lines = [x.rstrip() for x in f]

FileNotFoundError: [Errno 2] No such file or directory: 'examples/segismundo.txt'

In [ ]:
f = open(path) # default mode is text mode / 't'
f.read(10)
f2 = open(path, 'rb')  # Binary mode
f2.read(10)

In [ ]:
f.tell()
f2.tell()

In [108]:
import sys
sys.getdefaultencoding()

'utf-8'

In [109]:
f.seek(3)
f.read(1)

NameError: name 'f' is not defined

In [ ]:
f.close()
f2.close()

In [ ]:
with open('tmp.txt', 'w') as handle:
    handle.writelines(x for x in open(path) if len(x) > 1)
with open('tmp.txt') as f:
    lines = f.readlines()
lines

In [ ]:
import os
os.remove('tmp.txt')

### Bytes and Unicode with Files - Check Book

In [ ]:
with open(path) as f:
    chars = f.read(10)
chars

In [ ]:
with open(path, 'rb') as f:
    data = f.read(10)
data

In [ ]:
data.decode('utf8')
data[:4].decode('utf8')

In [ ]:
sink_path = 'sink.txt'
with open(path) as source:
    with open(sink_path, 'xt', encoding='iso-8859-1') as sink:
        sink.write(source.read())
with open(sink_path, encoding='iso-8859-1') as f:
    print(f.read(10))

In [ ]:
os.remove(sink_path)

In [ ]:
f = open(path)
f.read(5)
f.seek(4)
f.read(1)
f.close()

In [ ]:
%popd

## Conclusion